hr {
    height: 1.5px;
    border: none;
}

ion-title
{
    text-align:center;
}
.full-width {
    width: 100%;
}
.process{
    font-size: medium;
    text-align:center;
}
fixed-botton{
    position: absolute;
    bottom: 0;
    z-index: 10;
}