<!--
 * @Author: ZengJun
 * @Date: 2020-11-06 21:56:49
 * @LastEditors: ZengJun
 * @LastEditTime: 2020-11-08 13:47:12
 * @Description: 忘记密码
-->
<ion-header>
  <ion-toolbar non-border color="base">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">找回密码</ion-title>
  </ion-toolbar>
  
  <ion-toolbar class="process">
    1.输入邮箱或者手机号 > 2.输入验证码 > 3.重置密码
  </ion-toolbar>
</ion-header>

<ion-content non-padding>
    <form #loginForm="ngForm">
      <ion-list padding-right no-margin>
        <ion-item margin-top class="full-width">
          <ion-label position="stacked" style="font-size: medium;">邮箱/手机号</ion-label>
          <ion-input name="account" type="number" [(ngModel)]="account" required clearInput="true"></ion-input>
        </ion-item>
      </ion-list>

      <ion-col class="ion-align-self-center">
        <hr>
      </ion-col>

      <div class="ion-padding-horizontal">
        <ion-button expand="block" color="base" [disabled]="loginForm.invalid" (click)="onClick()" >提交
        </ion-button>
      </div>
    </form>
    
</ion-content>
