ion-grid {
    height: 100%;
    align-items: stretch;

    ion-row {
        flex: 1 0 100%;
        height: 100%;

        ion-col[left] {
            background-color: var(--ion-color-light);
        }
    }
}

.item-active{
    border-left-color: var(--ion-color-base);
    border-left-width: 4px;
    border-left-style: solid;
  }

.list-footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

ion-title{
    text-align: center;
}

.invisibleButton {
    height:10px;
    width:40px;
}