<!--
 * @Author: ZengJun
 * @Date: 2020-11-08 14:12:41
 * @LastEditors: ZengJun
 * @LastEditTime: 2020-11-12 22:50:25
 * @Description: 
-->
<ion-header>
  <ion-toolbar non-border  color="base">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>关于我们</ion-title>

    <ion-buttons slot="end">
      <ion-button clear class="invisibleButton">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>工程实践作业</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><b>学号：</b></ion-label>
          190325001
        </ion-item>
        <ion-item>
          <ion-label><b>姓名：</b></ion-label>
          曾俊
        </ion-item>
        <ion-item>
          <ion-label><b>当前进度:</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            <li>欢迎页：用户第一次使用时展示三张欢迎页，最后一页右上角跳过按钮消失，界面最下面可以选择进入登录或注册页</li>
            <li>注册的界面：第一步填写手机号，判断是否已经注册过；第二步，随机生成验证码，判断是否填写正确并是否超时；输入验证码正确后进入第三步：填写店铺的名字等相关信息；填写正确后提示注册成功并选择进入登录界面</li>
            <li>登陆界面：判断用户上次登陆时间，如果超过5天需要再登陆；对比本地数据进行登陆用户信息</li>
            <li>找回密码界面：找回密码</li>
            <li>版权声明：copyright版权声明</li>
            <li>主页界面：实现左侧菜单栏；在主页显示用户信息。</li>
            <li>店铺信息设置：实现店铺相关信息的修改功能。</li>
            <li>设置侧边栏：侧边栏显示当前的用户电话和店铺名</li>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label><b>没有完成的功能：</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            <li>验证码功能直接本地生成，没有使用阿里云的短信api发送短信。</li>
          </ion-text>
        </ion-item>
      </ion-list>

      <ion-card-subtitle>日期</ion-card-subtitle>
        <div>
          <ion-datetime display-format="MM月DD日, YYYY年，HH:MM" value="2020-11-12T23:00" disabled="true"></ion-datetime>
        </div>
      </ion-card-content>
  </ion-card>
</ion-content>
