ion-title{
    text-align: center;
}

ion-content{
    --background: var(--ion-color-light);
}

.invisibleButton {
    height:10px;
    width:40px;
}

.full-width{
    padding: 10px;
}

.listsub{
    margin-top: 10px;
}