/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toolbar-md {
    min-height: 67px !important;//47px的头部改成67px
}
ion-title {
    padding: 20px;//标题向上留20px
    text-align: center;
}
.back-button.show-back-button {
    padding-top: 20px;//返回箭头下降20px
}
//iOS头部加20px
.toolbar-ios {
    min-height: 66px !important;
}
.toolbar-ios ion-title {
    padding: 20px 90px 1px !important;
}
.invisibleButton {
    height:10px;
    width:40px;
}
