<!--
 * @Author: ZengJun
 * @Date: 2020-11-15 16:05:05
 * @LastEditors: ZengJun
 * @LastEditTime: 2020-11-30 00:02:35
 * @Description: 
-->
<ion-header>
  <ion-toolbar non-border color="base">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        <ion-label>返回</ion-label> 
      </ion-button>
    </ion-buttons>

    <ion-title>新增商品</ion-title>

    <ion-buttons slot="end">
      <ion-button clear class="invisibleButton">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content non-padding>
  <form #productForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-item lines="none">
          <ion-thumbnail slot="start" (click)="onPresentActiveSheet()">
            <img src="/assets/img/supplier_icon.png" alt="扫描">
          </ion-thumbnail>
        </ion-item>
        <!-- <ion-thumbnail *ngFor="let image of product.images">
          <img src="">
        </ion-thumbnail> -->
        <ion-item slot="end" lines="none" class="ion-no-padding">上传图片</ion-item>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">条码</ion-label>
        <ion-input name="barCode" placeholder="输入商品条码" [(ngModel)]="product.barcode" #barCode="ngModel"></ion-input>
        <div slot="end" (click)="onScan()">
          <ion-icon name="scan-outline" color="base"></ion-icon>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">名称 <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="name" required type="text" [(ngModel)]="product.name" #name="ngModel"
          pattern="^[\u4e00-\u9fa5_a-zA-Z0-9]+$" placeholder="名称不能带特殊字符"></ion-input>
      </ion-item>

      <ion-text text-left color="danger" *ngIf="name.invalid && name.touched">
        <p [hidden]="!name.errors?.pattern" padding-start>名称格式为中英文_数字</p>
      </ion-text>

      <ion-item (click)="gotoCategyList()" detail>
        <ion-label position="fixed">分类 <ion-text color="danger">*</ion-text></ion-label>
        <ion-input>{{product.categoryName}}</ion-input>
      </ion-item>

      <br />

      <ion-item>
        <ion-label position="fixed">售价 <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="price" required placeholder="输入商品售价" type="number" [(ngModel)]="product.price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">进价</ion-label>
        <ion-input name="purchasePrice" placeholder="输入商品进价" type="number" [(ngModel)]="product.purchasePrice"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">库存</ion-label>
        <ion-input name="inventory" placeholder="输入商品库存" type="number" [(ngModel)]="product.inventory"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">规格</ion-label>
        <ion-input name="standard" placeholder="规格 型号 尺码" type="text" [(ngModel)]="product.standard"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">备注</ion-label>
        <ion-input name="remark" placeholder="输入商品备注" type="text" [(ngModel)]="product.remark"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">供货商</ion-label>
        <ion-input (click)="onClickSupplier()" placeholder="{{product.supplier.name}}"></ion-input>
      </ion-item>

      
    </ion-list>
  </form>

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="base" class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-button lines="none" fill="clear" class="saveButton" expand="full" (click)="onSave(false)" [disabled]="productForm.invalid">
          保存
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" fill="clear" class="saveButton" (click)="onSave(true)" [disabled]="productForm.invalid">
          继续添加
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>