<!--
 * @Author: ZengJun
 * @Date: 2020-11-08 14:09:55
 * @LastEditors: ZengJun
 * @LastEditTime: 2020-11-13 00:56:24
 * @Description: 
-->
<ion-header>
  <ion-toolbar non-border color="base">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        <ion-label>设置</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title>修改密码</ion-title>

    <ion-buttons slot="end">
      <ion-button clear class="invisibleButton">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #passwordForm class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="floating">请输入旧密码</ion-label>
        <ion-input required [(ngModel)]="oldpassword" name="oldpass" #oldpass="ngModel" maxlength="16" minlength="6"
          pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z\\W]{6,16}$"></ion-input>
      </ion-item>

      <ion-text class="ion-text-left" color="danger" *ngIf="passwordForm.touched">
        <p [hidden]="isOldPassword" padding-start color="danger">您输入的旧密码不正确</p>
      </ion-text>


      <ion-item>
        <ion-label position="floating">请输入新密码</ion-label>
        <ion-input type="password" required [(ngModel)]="newPassword" name="newpass" #newpass="ngModel" maxlength="16"
          minlength="6" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z\\W]{6,16}$"></ion-input>
        
      </ion-item>

      <ion-item class="ion-text-left" *ngIf="newpass.touched" lines="none">
        <ion-text [hidden]="!newpass.errors?.pattern" padding-start color="danger">您输入的新密码太过简单</ion-text>
      </ion-item>
      

      <ion-item lines="none">
        <ion-label position="floating">请确认新密码</ion-label>
        <ion-input name="confirmPassword" #confirmPassword="ngModel" zjConfirm="newPassword.value"
          [(ngModel)]="viewObject.confirmPassword" required type="text">
        </ion-input>
      </ion-item>
      
      <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
        <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm">
          两次密码不一致
        </ion-text>
        <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
          请输入确认密码
        </ion-text>
      </ion-item>

    </ion-list>

    <div class="ion-padding-horizontal">
      <ion-button color="base" expand="block" [disabled]="passwordForm.invalid" (click)="onSave()">
        确定
      </ion-button>
    </div>
    
  </form>
</ion-content>